.ticket-subject {
	font-weight:bold;
	font-size:15px;
	margin-left:5px;
}
.answered {
	font-size:10px;
	color:#ffffff;
	background-color:#7079d6;
	margin:0px 0px 0px 5px;
}

.asset-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 5px 0;
}
.asset-details .input-box {
    margin-bottom: 10px;
    width: calc(100% / 2 - 20px);
}
.asset-details .input-box .details {
    display: block;
    font-weight: 600;
    margin-bottom: 2px;
}
.asset-details .input-box input,
.asset-details .input-box select,
.asset-details .input-box .asset-tag {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
}

input[type=radio],
.payment {
	cursor: pointer;
}

.modal-body .title {
    margin: 10px 0 5px;
    font-size: 25px;
    font-weight: 800;
    position: relative;
}
.modal-body .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: yellow;
}
.title {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}


/* Ticket dash */
.ticketCounts {
    display: flex;
    justify-content: space-around;
}
.count {
    text-align: center;
}


/* Introduction */
.mainSubject {
    font-size: 2.5em;
}
.subject {
    font-size: 1.5em;
}
.lists li {
    word-spacing: 1px;
    margin: 20px 10px;
}
#courtesy {
    font-size: 12px;
    font-style: italic;
}
.guide {
    border: 1px black dashed;
    border-radius: 20px;
    padding: 0 20px;
}
.download {
    border: 1px black solid;
    border-radius: 20px;
    padding: 2px 15px;
    background-color: #bdff9e;
    color: black;
    transition: .2s ease-out;
}
.download:hover {
    text-decoration: none;
    transition: .2s ease-in;
    background-color: #ccc;
}